.addService .addServicesForm input,.addService .addServicesForm select,.addService .addServicesForm textarea{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    appearance: none;
    border-radius: 1rem;
}
.addService .addServicesForm textarea{
    height: 8rem;
}
.addService .addServicesForm button{
    width:100%;
    border-radius: 1rem;
}
.addService .addServicesForm button:hover{
    background-color: #4747f3;
    border-color: #4747f3;
}
.addService .addServicesForm .addCategory{
    margin-left: 1rem;
    color: #362682;
    font-size: 12px; 
    font-weight: bold; 
    cursor: pointer;
}
.addService .addServicesForm .addCategory:hover{
    text-decoration: underline;
    color:red;
}