.addService .addServicesForm input,.addService .addServicesForm select,.addService .addServicesForm textarea{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    appearance: none;
    border-radius: 1rem;
}
.addService .addServicesForm button{
    width:100%;
    border-radius: 1rem;
}
.addService .addServicesForm button:hover{
    background-color: #4747f3;
    border-color: #4747f3;
}