.newOrder .newOrderForm span{
    font-weight: bold;
    color: gray;
    font-size: 15px;
}
.editOrder .editOrderForm span,.addTicket span{
    font-weight: bold;
    color: #4d4d4d;
    font-size: 15px;
}
.editOrder .editOrderForm button, .addTicket button{
    width:100%;
    border-radius: 6px;
}
.editOrder .details .content span{
    color:#c000ffc2;
}
.editOrder .details .content .status{
    color:white;
    font-weight: 600;
}
.editOrder .editOrderForm button:hover, .addTicket button:hover{
    background-color: #4747f3;
    border-color: #4747f3;
}
.newOrder .newOrderForm button{
    width:100%;
    border-radius: 6px;
}
.newOrder .newOrderForm button:hover{
    background-color: #4747f3;
    border-color: #4747f3;
}
.details h4{
    margin: 8rem 0 0 0;
    color: #362682;
}
.details .content{
    color: #3f3b50;
    font-size: 14px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.newOrder .inputInfo{
    width: fit-content;
    font-size: 12px;
    margin: 0;
    color: #e17777;
}
.newOrder .inputErrorInfo{
    width: fit-content;
    font-size: 14px;
    margin: 0;
    color: red;
}
