.table .tableBody span{
    color: #fff;
    font-weight: bold;
    border-radius: 1rem;
    padding: 1px 10px;
}
.table .tableBody .status{
    color: #fff;
    border-radius: 1rem;
    padding: 1px 10px;
    font-weight: 400;
}
.table .tableBody .pending{
    background-color: #4747f3;
}
.table .tableBody .processing{
    background-color: brown;
}
.table .tableBody .completed{
    background-color: green;
}
.table .tableBody .canceled{
    background-color: red;
}