.ourServices .service-content{
    transform: scale(0,0);
    transition: all 0.3s ease-in-out
}
.ourServices .card:hover .service-content{
    display: block !important;
    transform: scale(1,1);
}
.ourServices .card{
    height: 435px;
}
.ourServices .card .ServiceSubTitle{
    color: #fff;
    font-weight: 600;
}
.ourServices .card .ServiceTitle{
    color: #fff;
    font-weight: 700;
    margin: 2rem 0;
    background-color: #4747f3;
    border-radius: 4px;
}
.ourServices .card .content{
    padding-top: 55px;
    padding-bottom: 135px;
}
.ourServices .card:hover .content{
    background-color: #00000093;;
}
.ourServices .serviceLogoTitle{
    transform: translateY(65%);
    transition: all 0.5s ease-in-out
}
.ourServices .card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ourServices .fbMarketing{
    background-image: url(https://i.ibb.co/Qb2f8B5/fb-Marketing.jpg);
}
.ourServices .ytMarketing{
    background-image: url(https://i.ibb.co/129qbCC/YT-marketing.jpg);
}
.ourServices .instagramMarketing{
    background-image: url(https://i.ibb.co/jyD0y9C/Instagram-Marketing.jpg);
}
.ourServices .pinterestMarketing{
    background-image: url(https://i.ibb.co/SsJwMS4/penterest-Marketing.jpg);
}
.ourServices .twitterMarketing{
    background-image: url(https://i.ibb.co/pjHnxL3/twitter-Marketing.jpg);
}
.ourServices .linkedInMarketing{
    background-image: url(https://i.ibb.co/TvfXLKJ/linkedin-Marketing.png);
}
.ourServices .card:hover .serviceLogoTitle{
    transform: translateY(0%);
}
.ourServices .serviceLogoTitle .serviceIcon{
    font-size: 3.8rem;
    background-color: #362682;
    border-radius: 8px;
    color: #fff;
    padding: 6px; 
    transition: all 0.3s ease-in-out;
}
.ourServices .card:hover .serviceLogoTitle .serviceIcon{
    color: #362682;
    background-color: #fff;
}
/* material custom css */

.css-o5wegg-MuiGrid-root>.MuiGrid-item {
    padding: 0px !important;
  }
.css-ftmmys-MuiGrid-root{
    padding: 25px;
}