.ourServices .service-content{
    transform: scale(0,0);
    transition: all 0.3s ease-in-out
}
.ourServices .card:hover .service-content{
    display: block !important;
    transform: scale(1,1);
}
.ourServices .serviceLogoTitle{
    transform: translateY(65%);
    transition: all 0.5s ease-in-out
}
.ourServices .card{
    background-color: #bfb0fb9e;
}
.ourServices .card:hover .serviceLogoTitle{
    transform: translateY(0%);
}
.ourServices .serviceLogoTitle .serviceIcon{
    font-size: 3.8rem;
    background-color: #4747F3;
    border-radius: 8px;
    color: #fff;
    padding: 6px; 
    transition: all 0.5s ease-in-out;
}
.ourServices .card:hover .serviceLogoTitle .serviceIcon{
    color: #fff;
    background: #4747F3;
    border-radius: 3rem;
}