.register{
    margin-bottom: 6rem;
}
.register form input{
    border-radius: 2rem;
}
.register .formIcon{
    position: relative;
    background: #4747F3;
    display: flex;
    width: 46px;
    height: 46px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #ffffff;
    left: 5px;
    top: 50px;
    flex-wrap: wrap;
    flex-direction: column;
}
.register .registrationBtn{
    width: 100%;
    margin: 3rem 0 1rem 0;
    background-color: #4747F3;
    padding: 25px 0;
    border-radius: 8px;
    border:none;
}
.register .haveAccount{
    cursor: pointer;
    color: #362682;
    font-weight: 500;
    transition: .5s all;
}
.register .haveAccount:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #4747F3;
}
.register .socialIcon .titleBar::before{
    width: 80px;
    top: 36px;
    height: 5px;
}

