.header{
    background-color: #f5f5dc54;
    width:100%
}
.header .logo{
    width: 70px;
}
.header .nav-bar{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav-bar .nav-right .navItem{
    text-decoration: none;
    font-weight: 500;
    color: #362682;
    margin: 0 5px;
    padding: 4px 10px 7px 10px;
    border-radius: 4px;
    transition: .3s all;
}
.header .toggleBtn{
    display: none;
    position: absolute;
    top: .5rem;
    right: 1rem;
}
.header .nav-bar .nav-right .primaryBtn:hover{
    background-color: transparent;
    color: #362682;
}
.header .nav-bar .nav-right .secondaryBtn:hover{
    background-color: transparent;
    color: #362682;
}
@media only screen and (max-width: 600px) {
    .header .toggleBtnActive{
        display: none;
    }
    .header .nav-right{
        width:100%;
    }
    .header .toggleBtn{
        display: block;
    }
    .header .nav-bar{
        flex-direction: column;
        align-items:flex-start;
    }
    .header .nav-right a{
        display: block;
        text-align: center;
    }
}