*{
  border: 0;
  box-sizing: border-box;
}
button,svg{
  cursor: pointer;
}
.primaryBtn{
  font-size: 15px;
  font-weight: 500;
  min-width: 95px;
  text-align: center;
  padding: 10px 19px;
  border-radius: 50px;
  color: #fff;
  letter-spacing: 1px;
  border: 2px solid #362682;
  margin: 0 0 0 5px;
  background-color: #362682;
  transition: .5s all;
}
.secondaryBtn{
  font-size: 15px;
  font-weight: 500;
  min-width: 95px;
  text-align: center;
  padding: 10px 19px;
  border-radius: 50px;
  color: #fff;
  letter-spacing: 1px;
  border: 2px solid #4747F3;
  margin: 0 0 0 5px;
  background-color: #4747F3;
  transition: .5s all;
}
.title{
  width: fit-content;
  margin: 3rem auto;
  color: #362682;
}
.titleBar::before{
  content: '';
    display: block;
    position: relative;
    width: 120px;
    top: 55px;
    border-radius: 2rem;
    height: 6px;
    background-color: #4747F3;
}
.icon svg{
  font-size: 2.5rem;
  color: #fff;
  background-color: black;
  margin: 0 8px;
  padding: 7px;
  border: 2px solid red;
  border-radius: 2rem;
  transition: .5s all;
}
.icon svg:hover{
  color: #4747F3;
  background-color: #fff;
}