*{
  border: 0;
  box-sizing: border-box;
  transition: .5s all ease;
}
button,svg{
  cursor: pointer;
}
a{
  text-decoration: none;
  color:black;
}
li{
  list-style: none;
}
form input,form select,form textarea{
  background: none;
  box-shadow: none;
  border: 2px solid #362682;
  height: 55px;
  font-size: 14px;
  padding-left: 60px;
  resize: vertical;
  width: 100%;
}
select{
  cursor: pointer;
}
form select option{
  font-size: 15px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input:focus,select:focus,textarea:focus{
  border: none;
  box-shadow: 0px 0px 8px 2px #6060f578;
  border-top: 2px solid #d5d5d5;
  outline: 0;
}
.newOrder .newOrderForm input,.newOrder .newOrderForm select,.editOrder .editOrderForm input,.editOrder .editOrderForm select, .addTicket input,.addTicket select, .addTicket textarea, .ticketDetails input{
  padding-left: 10px;
  border-radius: 6px;
  background-color: #f1f1ff;
  border: none;
  border-top: 2px solid #d5d5d5;
}
.mt-2{
  margin-top: 2rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.primaryBtn{
  font-size: 15px;
  font-weight: 500;
  min-width: 95px;
  text-align: center;
  padding: 10px 19px;
  border-radius: 50px;
  color: #fff;
  letter-spacing: 1px;
  border: 2px solid #362682;
  margin: 0 0 0 5px;
  background-color: #362682;
  transition: .5s all;
}
.secondaryBtn{
  font-size: 15px;
  font-weight: 500;
  min-width: 95px;
  text-align: center;
  padding: 10px 19px;
  border-radius: 50px;
  color: #fff;
  letter-spacing: 1px;
  border: 2px solid #4747F3;
  margin: 0 0 0 5px;
  background-color: #4747F3;
  transition: .5s all;
}
.disabledBtn{
  cursor: not-allowed;
}
.detailsBtn:hover{
  background-color: red;
}
.actionBtn{
  background-color: #4747f3;
  font-weight: bold;
  margin: 6px 6px 6px 0;
  padding: 4px 12px;
  border-radius: 1rem;
  color: #fff;
  transition: .5s all;
}
.actionBtn>span{
  display: flex;
  align-items: center;
}
.actionBtn:hover{
  background-color: #362682;
}
.deleteBtn{
  transition: all .5s;
}
.deleteBtn:hover{
  color:red;
}
.title{
  width: fit-content;
  margin: 2rem auto 3rem auto;
  color: #362682;
}
.titleBar::before{
  content: '';
    display: block;
    position: relative;
    width: 120px;
    top: 50px;
    border-radius: 2rem;
    height: 6px;
    background-color: #4747F3;
}
.icon svg{
  font-size: 2.5rem;
  color: #fff;
  background-color: black;
  margin: 0 8px;
  padding: 7px;
  border: 2px solid red;
  border-radius: 2rem;
  transition: .5s all;
}
.icon svg:hover{
  color: #4747F3;
  background-color: #fff;
}
/* detailsModal out side color */
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop{
background-color: #00000025 !important;
}
.css-zxdg2z {
  padding: 10px !important;
}
.detailsBtn{
  background-color: #4747f3;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  color: #fff;
}
/* ======== all section title css start ========== */

.title-section{
  text-align: center;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  padding: 80px 0;
}
.title-section h1{
  font-size: 56px;
  text-transform: uppercase;
  margin: 0;
}
@media (max-width: 576px){
.title-section h1 {
  font-size: 35px!important;
}}
.title-section h1 span{
color: tomato;
}
.title-bg{
font-size: 110px;
left: 0;
letter-spacing: 10px;
line-height: .7;
position: absolute;
right: 0;
top: 50%;
text-transform: uppercase;
transform: translateY(-50%);
color:  #ff634729;
}
@media (max-width: 576px){
.title-bg {
  font-size: 4rem;
}}

/* ======== all section title css end ========== */

/* ======== table css start ========== */
.table .tableBody span{
  color: #fff;
  font-weight: bold;
  border-radius: 1rem;
  padding: 1px 10px;
}
.status{
  color: #fff;
  border-radius: 1rem;
  padding: 1px 10px;
  font-weight: 400;
}
.pending{
  background-color: #4747f3;
}
.processing,.unpaid{
  background-color: tomato;
}
.completed, .paid, .refund{
  background-color: green;
}
.canceled{
  background-color: red;
}
/* ======== table css end ========== */