.registrationNow{
    text-align: center;
    color:orangered;
    background-image: url(https://i.ibb.co/BGB0PKj/register-Now-BG.jpg);
    padding-bottom: 4rem;
    margin-top: 8rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.registrationNow img{
    width: 180px;
    position: relative;
    top: -90px;
}
.registrationNow .content{
    margin-top: -100px;
    display: block;
}
.registrationNow .content .primaryBtn{
    padding: 10px 90px;
}