.newOrder .newOrderForm span{
    font-weight: bold;
    color: gray;
    font-size: 15px;
}
.newOrder .newOrderForm input,.newOrder .newOrderForm select{
    padding-left: 10px;
    border-radius: 6px;
    background-color: #f1f1ff;
    border: none;
    border-top: 2px solid #d5d5d5;
}
.newOrder .newOrderForm input:focus,.newOrder .newOrderForm select:focus{
    border: none;
    box-shadow: 0px 0px 8px 2px #6060f578;
    border-top: 2px solid #d5d5d5;
    outline: 0;
}
.newOrder .newOrderForm button{
    width:100%;
    border-radius: 6px;
}
.newOrder .newOrderForm button:hover{
    background-color: #4747f3;
    border-color: #4747f3;
}
.newOrder .details h4{
    margin: 8rem 0 0 0;
    color: #362682;
}
.newOrder .details .content{
    color: #3f3b50;
    font-size: 14px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
